@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

body {
  text-align: center;
  font-family: Pretendard, sans-serif;
  background-color: #000;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: auto;
  background: url(../img/harrypotter.png) center center/cover;
  border-radius: 20px;
}

.game_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game_button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid black;
  font-size: 24px;
  transition: 0.3s ease-in;
}

.game_button:hover {
  transform: scale(1.1);
}

.game_timer {
  width: 100px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  border-radius: 15px;
  font-size: 32px;
  margin-top: 8px;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game_score {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  margin-top: 8px;
  font-size: 34px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: darksalmon;
  color: white;
  visibility: hidden;
  display: flex;
  user-select: none;
  cursor: auto;
}

.game_field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.pop-up {
  display: block;
  width: 400px;
  height: 140px;
  margin: auto;
  padding: 20px;
  background-color: #00000090;
  border-radius: 20px;
  color: white;
  text-align: center;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up_refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up_message {
  display: block;
  font-size: 38px;
}

.carrot,
.bug,
.harry01,
.harry02,
.harry03 {
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover,
.harry01:hover,
.harry02:hover,
.harry03:hover {
  transform: scale(1.1);
}
